
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>Components Page</title>  
</head>




<div class="parent">

        <article class="friend-card">
            <section class="friend">
                <div> 
                  <div class="friend-img">
                    <img class="friend-img" src="/img/friends/tape-stock-image.jpg" alt="far away friends logo">
                    </div>

                  <h3 class='card-title'>Lloyd Barnett</h3>
                     <class class="time">
                      <div class="column">
                        <p>09:45</p> 
                      </div>
                       <div class="column">
                        <p>Alice Springs</p> 
                       </div>
                    </class>


                </div>
                  
                 <iframe src="https://open.spotify.com/embed/playlist/4HbuhaEHEo0oF1xTti2COD" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  
            </section>
        </article>


        <article class="friend-card">
            <section class="friend">
                <div> 
                  <div class="friend-img">
                    <img class="friend-img" src="/img/friends/tape-stock-image.jpg" alt="far away friends logo">
                    </div>

                  <h3 class='card-title'>Lloyd Barnett</h3>
                     <class class="time">
                      <div class="column">
                        <p>09:45</p> 
                      </div>
                       <div class="column">
                        <p>Alice Springs</p> 
                       </div>
                    </class>


                </div>
                  
                 <iframe src="https://open.spotify.com/embed/playlist/4HbuhaEHEo0oF1xTti2COD" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  
            </section>
        </article>
</div>

