<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>iframe</title>  
</head>
<body>
    <header>

        <nav id="sitenav">
            <ul>
                <li></li>
            </ul>



        </nav>



    
        <style>
            
        </style>


        <iframe src="https://open.spotify.com/embed/playlist/4HbuhaEHEo0oF1xTti2COD" width= 100% height= 500px frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>  